body{
	font-size: 16px;
	background-color: #774603;
	font-family: 'Oxygen', sans-serif;
	color: white;

/* start of Header */
}
#header-nav{
	background-color:  #99ebff;
	border-radius: 0;
	border: 0;
	
}

#log-img{
	background: url('../images/logo1.jpg') no-repeat;
	width: 94px;
	height: 57px;
	margin: 20px 10px 0px 0px;
}

.navbar-brand {
  padding-top: 25px;
}

.navbar-brand h1 { /* name */
  font-family: 'Lora', serif;
  text-transform: uppercase;
  font-weight: bold;
  text-shadow: 1px 1px 1px #222;
  margin-top: 10px;
  margin-bottom: 5px;
 line-height: .5;
}

.navbar-brand a:hover, .navbar-brand a:focus {
  text-decoration: none;

}

.navbar-brand p { /* golis cert */
  color: blue;
  text-transform: uppercase;
  font-size: .7em;
  margin-top: 12px;
}

.navbar-brand p span { /* simcard*/
  vertical-align: middle;
}

#nav-list {
  margin-top: 10px;
}
#nav-list a {
  color: #951C49;
  text-align: center;
}
#nav-list a:hover {
  background: #E7E7E7;
}
#nav-list a span {
  font-size: 1.5em;
}

#phone {
  margin-top: 5px;
}
#phone a { /* Phone number */
  text-align: right;
  padding-bottom: 0;
  padding-right: 5px;
}
#phone div { /* We Deliver */
  color: #557c3e;
  text-align: right;
  padding-right: 3px;
}

.navbar-header button.navbar-toggle, .navbar-header .icon-bar {
  border: 1px solid #61122f;
}
.navbar-header button.navbar-toggle {
  clear: both;
  margin-top: -30px;
}/*  end of the Header */


/*------------------------------MENU-YADA HOOSE------------------------*/
#sahal-tile, #internet-tile, #map-tile {
  height: 250px;
  width: 100%;
  margin-bottom: 15px;
  position: relative;
  border: 2px solid #3F0C1F;
  overflow: hidden;
}
#sahal-tile:hover, #internet-tile:hover, #map-tile:hover {
  box-shadow: 0 1px 5px 1px #cccccc;
}

#sahal-tile {
  background: url('../images/jubba.jpg') no-repeat;
  background-position: center;

}
#internet-tile {
  background: url('../images/tele_medium.jpg') no-repeat;
  background-position: center;
}

#sahal-tile span, #internet-tile span, #map-tile span {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 100%;
  text-align: center;
  font-size: 1.6em;
  text-transform: uppercase;
  background-color: #000;
  color: #fff;
  opacity: .6;
}  /* end homepage-menu */


.category-tile { 
  position: relative;
  border: 2px solid #3F0C1F;
  overflow: hidden;
  width: 200px;
  height: 200px;
  margin: 0 auto 15px;
}
.category-tile span {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 100%;
  text-align: center;
  font-size: 1.2em;
  text-transform: uppercase;
  background-color: #000;
  color: #fff;
  opacity: .8;
}
.category-tile:hover {
  box-shadow: 0 1px 5px 1px #cccccc;
}

#menu-categories-title + div {
  margin-bottom: 50px;
  text-align: center;
  
}
#menu-categories-title span {
  margin-bottom: 50px;
  color: blue;
}
/* SINGLE CATEGORY PAGE */
.menu-item-tile {
  margin-bottom: 25px;
}
.menu-item-tile hr {
  width: 80%;
}
.menu-item-tile .menu-item-price {
  font-size: 1.1em;
  margin-top: -15px;
  margin-right: -15px;
  text-align: center;
}
.menu-item-tile .menu-item-price span {
  font-size: .6em;
  }

.menu-item-description {
  padding-right: 30px;
  text-align: center;
}
h3.menu-item-title {
  margin: 0 0 10px;
  
}
.menu-item-details {
  font-size: 1em;
  text-align: center;

}
/* END SINGLE CATEGORY PAGE */
/* FOOTER */
.menu-item-photo {
  position: relative;
  border: 2px solid #3F0C1F; 
  overflow: hidden;
  padding: 0;
  margin-right: auto;
  margin-left:auto;  
  margin-bottom: 20px;
  max-width: 250px;
}
.menu-item-photo div {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 80px;
  background-color: #557c3e;
  
}
.panel-footer {
  margin-top: 30px;
  padding-top: 35px;
  padding-bottom: 30px;
  background-color: #222;
  border-top: 0;
}
.panel-footer div.row {
  margin-bottom: 35px;
}
#hours, #address {
  line-height: 2;
}
#hours > span, #address > span {
  font-size: 1.3em;
}
#address p {
  color: #557c3e;
  font-size: .8em;
  line-height: 1.6;
}
#testimonials {
  font-style: italic;
}
#testimonials p:nth-child(2) {
  margin-top: 25px;
}
/* END FOOTER */

/********** Large devices only **********/
@media (min-width: 992px){

  .container .goliscaffe {
    background: url('../images/golismain1200.jpg') no-repeat;
    height: 675px;
      }


}



/********** Small devices only **********/
@media (min-width: 768px) and (max-width: 991px) {
  

  /* Home Page */
  .container .tele_medium{
    background: url('../images/tele_medium.jpg') no-repeat;
    height: 558px;
  }
}

/********** Extra small devices only **********/
@media (max-width: 767px) {
  /* Header */
  .navbar-brand {
    padding-top: 10px;
    height: 80px;
  }
  .navbar-brand h1 { /* Restaurant name */
    padding-top: 10px;
    font-size: 5vw; /* 1vw = 1% of viewport width */
  }
  .navbar-brand p { /* Kosher cert */
    font-size: .6em;
    margin-top: 12px;
  }
  .navbar-brand p img { /* Star-K */
    height: 20px;
  }
   

  #collapsable-nav a { /* Collapsed nav menu text */
    font-size: 1.2em;
  }
  #collapsable-nav a span { /* Collapsed nav menu glyph */
    font-size: 1em;
    margin-right: 5px;
  }

  #call-btn > a {
    font-size: 1.5em;
    display: block;
    margin: 0 20px;
    padding: 10px;
    border: 2px solid #99ebff;
    background-color: #99ebff;
    color: #951c49;
  }
  #xs-deliver {
    margin-top: 5px;
    font-size: .7em;
    letter-spacing: .1em;
    text-transform: uppercase;
  }
  /* End Header */


   .container .goliscaffe{    /* sida hal mar lo isticmaalo 2 class (goliscaffe iyo tele_medium) ka eeg html (<div class="goliscaffe tele_medium">*/
    margin-top: 30px;
    padding: 0;
  }

  .container .tele_medium{
    margin-top: 30px;
    padding: 0;
  }

#sahal-tile, #internet-tile {
    width: 360px;
    margin: 0 auto 15px;
  }
}

